[submodule "invox-transcribe"]
	path = invox-transcribe
	url = git@github.com:Huzefa-Jadliwala/invox-transcribe.git
[submodule "invox-backend"]
	path = invox-backend
	url = git@github.com:Huzefa-Jadliwala/invox-backend.git
[submodule "invox-client"]
	path = invox-client
	url = git@github.com:Huzefa-Jadliwala/invox-client.git
